<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <!-- App Title Bar -->
        </div>
        <div class="col-xs-4">
            <!-- Menu/Navbar/Dropdown Button --> 
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- Hole Title bar: #, par -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- Google map zoomed in on the hold itself, satellite view --> 
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <!-- Detailed hole information -->
        </div>
        <div class="col-xs-6">
            <!-- User score/stats input form -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <!-- Button to go back to the last hole -->
        </div>
        <div class="col-xs-6">
            <!-- Button to advance to the next hole --> 
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- Footer -->
        </div>
    </div>