<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <!-- Main Title Bar -->
        </div>
        <div class="col-xs-4">
            <!-- Nav - dropdown/menu/profile icon -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <!-- Name and/or profile picture --> 
        </div>
        <div class="col-xs-8">
            <!-- Handicap --> 
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- DETAILED Player statistics display -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- Match history/recent games view -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <!-- Start a new match button--> 
        </div>
        <div class="col-xs-6">
            <!-- View match History button -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- footer -->
        </div>
    </div>