<div class="container">
{{#each score}}
	<div class="well well-md">
		<h2>Round Summary</h2>
		<p>{{this.tstamp}}</p>
	</div>
	<table class="table table-bordered">
		<thead class="holes">
			<tr>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
				<th>5</th>
				<th>6</th>
				<th>7</th>
				<th>8</th>
				<th>9</th>
				<th>total</th>
			</tr>
		</thead>
		<thead>
			<tr>
				<th>par 4</th>
				<th>par 3</th>
				<th>par 4</th>
				<th>par 4</th>
				<th>par 3</th>
				<th>par 4</th>
				<th>par 5</th>
				<th>par 3</th>
				<th>par 5</th>
				<th>35</th>
			</tr>
			<tbody>
				<td>{{this.playerscore}}</td>
			</tbody>
		</thead>
		<thead>
			<tr class="holes">
				<th>10</th>
				<th>11</th>
				<th>12</th>
				<th>13</th>
				<th>14</th>
				<th>15</th>
				<th>16</th>
				<th>17</th>
				<th>18</th>
				<th>total</th>
			</tr>
		</thead>
		<thead>
			<tr>
				<th>par 4</th>
				<th>par 4</th>
				<th>par 4</th>
				<th>par 5</th>
				<th>par 4</th>
				<th>par 4</th>
				<th>par 4</th>
				<th>par 3</th>
				<th>par 4</th>
				<th>36</th>
			</tr>
		</thead>
	</table>
{{/each}}
</div>

	<script>
		firebase.auth().onAuthStateChanged(function (user) {
			if (user) {
				// User is signed in.
				var displayName = user.displayName;
				var email = user.email;
				var emailVerified = user.emailVerified;
				var photoURL = user.photoURL;
				var isAnonymous = user.isAnonymous;
				var uid = user.uid;
				var providerData = user.providerData;
				// [START_EXCLUDE]
				document.getElementById('quickstart-sign-in-status').textContent = 'Signed in';
				document.getElementById('quickstart-sign-in').textContent = 'Sign out';
				document.getElementById('quickstart-account-details').textContent = JSON.stringify(user, null, '  ');
				// [END_EXCLUDE]
			} else {
				// User is signed out.
				// [START_EXCLUDE]
				window.location = "/";
				document.getElementById('quickstart-sign-in-status').textContent = 'Signed out';
				document.getElementById('quickstart-sign-in').textContent = 'Sign in with Google';
				document.getElementById('quickstart-account-details').textContent = 'null';
				document.getElementById('quickstart-oauthtoken').textContent = 'null';
				// [END_EXCLUDE]
			}
			// [START_EXCLUDE]
			document.getElementById('quickstart-sign-in').disabled = false;
			// [END_EXCLUDE]
		});
      // [END authstatelistener]
	</script>