<div class="container">
        <div class="col-xs-12">
            this is the sick fuckin history page boys
            <br>
            I'm lovin it look how much golf I play
            <!-- Main content display: show score history as a list here -->
        </div>
    </div>