<div class="container">
					<div class="col-xs-12">
						<!-- Main content display: show score history as a list here -->
						<div class="row">
							<div class="card">
								<div class="card-body">
									Date played:
								</div>
							</div>
						</div>
						
						<div class="row">
								<article class="front9">
									<div class="hole">
										<span>Front</span>
										<span>1</span>
										<span>2</span>
										<span>3</span>
										<span>4</span>
										<span>5</span>
										<span>6</span>
										<span>7</span>
										<span>8</span>
										<span>9</span>
										<span>Out</span>
									</div>
									<div class="par">
										<span>Par</span>
										<span>4</span>
										<span>3</span>
										<span>4</span>
										<span>4</span>
										<span>3</span>
										<span>4</span>
										<span>5</span>
										<span>3</span>
										<span>5</span>
										<span>35</span>
									</div>
									<div class="score">
										<span>Score</span>
										<span id = "hole1"></span>
										<span id = "hole2"></span>
										<span id = "hole3"></span>
										<span id = "hole4"></span>
										<span id = "hole5"></span>
										<span id = "hole6"></span>
										<span id = "hole7"></span>
										<span id = "hole8"></span>
										<span id = "hole9"></span>
										<span class="sub" id = "front9total"></span>
									</div>
								</article>
						</div>
						
						<div class="row">
								<article class="back9">
									<div class="hole">
										<span>Back</span>
										<span>10</span>
										<span>11</span>
										<span>12</span>
										<span>13</span>
										<span>14</span>
										<span>15</span>
										<span>16</span>
										<span>17</span>
										<span>18</span>
										<span>In</span>
										<span>Total</span>
									</div>
									<div class="par">
										<span>Par</span>
										<span>4</span>
										<span>4</span>
										<span>4</span>
										<span>5</span>
										<span>4</span>
										<span>4</span>
										<span>4</span>
										<span>3</span>
										<span>4</span>
										<span>36</span>
										<span>71</span>
									</div>
									<div class="score">
										<span>Score</span>
										<span id = "hole10"></span>
										<span id = "hole11"></span>
										<span id = "hole12"></span>
										<span id = "hole13"></span>
										<span id = "hole14"></span>
										<span id = "hole15"></span>
										<span id = "hole16"></span>
										<span id = "hole17"></span>
										<span id = "hole18"></span>
										<span class="sub" id = "back9total"></span>
										<span class="total" id = "roundTotal"></span>
									</div>
								</article>
						</div>

					</div>
				</div>

<script>
firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          // User is signed in.
          var displayName = user.displayName;
          var email = user.email;
          var emailVerified = user.emailVerified;
          var photoURL = user.photoURL;
          var isAnonymous = user.isAnonymous;
          var uid = user.uid;
          var providerData = user.providerData;
          // [START_EXCLUDE]
          document.getElementById('quickstart-sign-in-status').textContent = 'Signed in';
          document.getElementById('quickstart-sign-in').textContent = 'Sign out';
          document.getElementById('quickstart-account-details').textContent = JSON.stringify(user, null, '  ');
          // [END_EXCLUDE]
        } else {
          // User is signed out.
          // [START_EXCLUDE]
		  window.location="/";
          document.getElementById('quickstart-sign-in-status').textContent = 'Signed out';
          document.getElementById('quickstart-sign-in').textContent = 'Sign in with Google';
          document.getElementById('quickstart-account-details').textContent = 'null';
          document.getElementById('quickstart-oauthtoken').textContent = 'null';
          // [END_EXCLUDE]
        }
        // [START_EXCLUDE]
        document.getElementById('quickstart-sign-in').disabled = false;
        // [END_EXCLUDE]
      });
      // [END authstatelistener]
</script>
