<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <!-- Hole Title bar: #, par -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- Google map zoomed in on the hold itself, satellite view --> 
            Google map here
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <!-- Detailed hole information -->
            Detailed hole stats here
        </div>
        <div class="col-xs-6">
            <!-- User score/stats input form -->
            input form
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <!-- Button to go back to the last hole -->
        </div>
        <div class="col-xs-6">
            <!-- Button to advance to the next hole --> 
        </div>
</div>