 <div class="container">

        <div class="card">
            <img class="img-responsive" src="/images/Screen Shot 2018-06-03 at 4.31.23 PM.png" alt="golf hole">
                <div class="card-body">
                      <p class="card-text">Hole #1</p>
                </div>
        </div>


    <div class="panel panel-default">
      
        <div class="panel-heading">Tee</div>
            
            <div class="panel-body"> 
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Gold #
                    </label>
                </div>
                          
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                              White #
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                    <label class="form-check-label" for="exampleRadios3">
                              Maroon #
                    </label>
                </div>
            </div>
                      

            <div class="panel-heading">Hole Score</div>
                <div class="panel-body">
                    <div class="form-group">
                                       
                        <input type="text" class="form-control" id="usr">

                    </div>
                </div>

            <div class="panel-heading">Putts</div>
                <div class="panel-body">
                    <div class="form-group">
                                       
                         <input type="text" class="form-control" id="usr">

                     </div>
                </div>

            <div class="panel-heading">Notes</div>
                <div class="panel-body">
                    <div class="form-group">
                                       
                        <input type="text" class="form-control" id="usr">

                    </div>
                </div>
                <div class="panel-body">
                        <button type="submit" class="btn btn-primary">Submit</button>
                </div>
      
            
    </div>

    <nav aria-label="...">
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>

    <script>
firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          // User is signed in.
          var displayName = user.displayName;
          var email = user.email;
          var emailVerified = user.emailVerified;
          var photoURL = user.photoURL;
          var isAnonymous = user.isAnonymous;
          var uid = user.uid;
          var providerData = user.providerData;
          // [START_EXCLUDE]
          document.getElementById('quickstart-sign-in-status').textContent = 'Signed in';
          document.getElementById('quickstart-sign-in').textContent = 'Sign out';
          document.getElementById('quickstart-account-details').textContent = JSON.stringify(user, null, '  ');
          // [END_EXCLUDE]
        } else {
          // User is signed out.
          // [START_EXCLUDE]
		  window.location="/";
          document.getElementById('quickstart-sign-in-status').textContent = 'Signed out';
          document.getElementById('quickstart-sign-in').textContent = 'Sign in with Google';
          document.getElementById('quickstart-account-details').textContent = 'null';
          document.getElementById('quickstart-oauthtoken').textContent = 'null';
          // [END_EXCLUDE]
        }
        // [START_EXCLUDE]
        document.getElementById('quickstart-sign-in').disabled = false;
        // [END_EXCLUDE]
      });
      // [END authstatelistener]
</script>
