<!-- The surrounding HTML is left untouched by FirebaseUI.
         Your app may use that space for branding, controls and other customizations.-->
<center class="main">
    <div class="">
        <img src="../public/assets/pexels-photo-54123.jpg" class="img-responsive" alt="" height="100" width="100">
    </div>
    <h1 class="main">GOLF360</h1>
</center>
<div class="main" id="firebaseui-auth-container"></div>