<div class="container">
    <div class="profile">
        <center>
            <div class="col-md-3">
                <div class="profile-main">

                    <!-- USERPIC -->
                    <div class="profile-userpic">
                        <img src="https://gravatar.com/avatar/31b64e4876d603ce78e04102c67d6144?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png"
                            class="img-responsive" alt="">
                    </div>

                    <!-- USER NAME and HANDICAP -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            Chris Stavnes
                        </div>
                        <div class="profile-usertitle-name">
                            handicap
                        </div>
                    </div>

                    <!-- STATS -->
                    <div class="row list-separated profile-stat">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="uppercase profile-stat-title"> ID </div>
                            <div class="uppercase profile-stat-text">Games Played</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="uppercase profile-stat-title">ID</div>
                            <div class="uppercase profile-stat-text">Avg Score</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="uppercase profile-stat-title">ID</div>
                            <div class="uppercase profile-stat-text">Avg Putts Per Hole</div>
                        </div>
                    </div>

                    <!-- BUTTONS -->
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-success btn-sm">New Match</button>
                        <button type="button" class="btn btn-danger btn-sm">Match History</button>
                    </div>
                </div>
            </div>
        </center>
    </div>