<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <!-- Name and/or profile picture --> 
        </div>
        <div class="col-xs-8">
            <!-- Handicap --> 
            Handicap: 0
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- DETAILED Player statistics display -->
            <br>
            Games Played
            Average Score per round
            Average Putts per hole
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <!-- Start a new match button--> 
        Match History Button 
        </div>
        <div class="col-xs-6">
        Start New Match Button
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- footer -->
        </div>
    </div>
</div>