
/*STYLING FOR INDEX*/
.body-main {
	color: #6ead3a;
	background-color: #4c4947;
}



/*STYLING FOR PLAYER PAGE*/
.profile-usertitle {
	margin-top: 10px;
	padding: 5px;
}

.profile-usertitle {
	margin-top: 10px;
	padding: 5px;
}

.profile-usertitle-name {
	color:#6ead3a;
}

.list-group {
	background-color: #ceccce;
	color: #6ead3a;
}

.profile-userbuttons {
	margin-top: 5%;
	margin-bottom: 5%;
}

.btn-sm {
	background-color: #6ead3a;;
	color: #efedef;
}

/*STYLING FOR HOLE PAGE*/
.img-responsive {
	transform: rotate(90deg);
	height: 300px;
	width:100px;
}

.btn-submit {
	background-color: #efedef;
	color: #6ead3a;
}

.form-check-label {
	font-size: 24px;
}


/*STYLING FOR HISTORY PAGE*/
.holes {
	background-color: #ceccce;
	text-align: center;
}
.par {
	text-align: center;
}
.center {
	align-items: center
}
