
/* Styling for main */
html { font-family: 'Source Sans Pro', sans-serif;}


footer { text-align: center;

}

 .text-uppercase{ 
	 font-size: 18px;
 }
#quickstart-sign-in {
	margin-top: 10px
 }

 a img { display:block}
/*STYLING FOR INDEX*/

.container {
	background-color: #6ead3a;
}




#map {
	height: 100%;
  }

/*STYLING FOR PLAYER PAGE*/
.profile { font-size: 20px;}

.profile-usertitle {
	margin-top: 10px;
	padding: 5px;
}

.profile-usertitle {
	margin-top: 10px;
	padding: 5px;
}

.profile-usertitle-name {
	color:#005A31
}

.list-group {
	background-color: #ceccce;
	
}

.profile-userbuttons {
	margin-top: 5%;
	margin-bottom: 5%;
}


/*STYLING FOR HOLE PAGE*/
.img-responsive {
	transform: rotate(90deg);
	height: 300px;
	width:100px;
}

.panel-heading{
	color: #005A31 !important;
font-size: 20px;

}

.btn-submit {
	background-color: #efedef;
	color: #6ead3a;
}

.form-check-label {
	font-size: 24px;
}


/*STYLING FOR HISTORY PAGE*/
.holes {
	background-color: #ceccce;
	text-align: center;

}
.par {
	text-align: center;
}
.center {
	align-items: center
}

thead {
	margin-bottom: 10px;
}
